DATABASE_URL=mysql+pymysql://user:password@127.0.0.1:3306/dublinbikes
JCDECAUX_API_KEY=
JCDECAUX_CONTRACT=dublin
SCRAPE_INTERVAL_SECONDS=300
RETRY_INTERVAL_SECONDS=60
WEATHER_SCRAPE_INTERVAL_SECONDS=3600
OUTPUT_JSON=stations.json
JCDECAUX_BASE_URL=https://api.jcdecaux.com/vls/v1/stations

# OpenWeather API Key
OPENWEATHER_API_KEY=
OPENWEATHER_GEOCODING_URL=http://api.openweathermap.org/geo/1.0/direct
OPENWEATHER_ONECALL_URL=https://api.openweathermap.org/data/3.0/onecall
OPENWEATHER_FORECAST_URL=https://api.openweathermap.org/data/2.5/forecast
WEATHER_CITY=Dublin,IE